SERVER_PORT=8080
SERVER_URL=http://localhost:8080
AUTHENTICATION_API_KEY=tempa-evolution-key
DATABASE_CONNECTION_URI=postgresql://evolution:evolution@localhost:5432/evolution?schema=public
DATABASE_CONNECTION_CLIENT_NAME=tempa
INSTANCE_DIR=./instances
LOG_LEVEL=info
QRCODE_COLOR=#198754
